.TicketHeader {
	display: flex;
	padding: 4px;
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	background-color: rgb(51, 74, 84);
}

.TicketHeader span {
	flex-basis: 85%;
	align-self: center;
}
