.ExecutableOneWayFWDTicketBody {
	margin: 4px;
	flex-basis: 40%;
	background-color: white;
	display: flex;
	justify-content: space-around;
	padding: 5px;
	box-sizing: border-box;
	align-items: center;
}

.ExecutableOneWayFWDTicketBody .TradePoints {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 50px;
	width: 180px;
}

.ExecutableOneWayFWDTicketBody .TradePoints-spotRate {
	display: flex;
}

.ExecutableOneWayFWDTicketBody .TradePoints-spotRate label {
	width: 85%;
}

.ExecutableOneWayFWDTicketBody .TradePoints-forwardPoints {
	display: flex;
}

.ExecutableOneWayFWDTicketBody .TradePoints-forwardPoints label {
	width: 85%;
}
